# Riot Games
RIOT_API_KEY=RGAPI-xxxx-xxxx-xxxx

# Base de données
DB_USER=lol_user
DB_PASSWORD=change_me
DATABASE_URL=postgresql://lol_user:change_me@postgres/lol_advisor

# Redis
REDIS_URL=redis://redis:6379

# IA
ANTHROPIC_API_KEY=sk-ant-xxxx

# App
ENV=development
SECRET_KEY=change_me_with_random_string
